.show-password-page{
    display: flex;
    flex-direction: column;
    --overflow: hidden;
    --background: radial-gradient(circle, rgba(134, 61, 246, 1) 0%, rgba(86, 102, 247, 1) 100%);

    header {
            width: 100%;
            height: 20%;

            .navbar{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;

                h1 {
                    font-size: 32px;
                    color: white;
                    margin: 0;
                }
    
                ion-button{
                    --background: none;
                    --box-shadow: none;
                }
            }
        }
    
    main {
            width: 100%;
            height: 80%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background-color: white;
            padding: 110px 20px 28px;
            position: relative;

            .photo{
                background-color: white;
                width: 120px;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                box-shadow: -2px 10px 29px 0px rgba(0, 0, 0, 0.54);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                overflow: hidden;
                img{
                    width: 100%;
                    object-fit: contain;
                }
            }

            ion-item{
                --background: #f4f4f5;
                --border-style: none;
                border-radius: 20px;
                margin-bottom: 30px;
                position: relative;

                h3{
                    font-size: 20px;
                    font-weight: bold;
                }

                p{
                    color: var(--ion-color-medium-shade);
                    font-size: 14px;
                }

                .buttons{
                    position: absolute;
                    top: 5px;
                    right: 5px;

                    ion-button{
                        --box-shadow: none;
                        --border-style: none;
                    }
                }
            }
        }

    ion-fab.edit-button{
        width: 100%;
        display: flex;
        justify-content: center;

        ion-button{
            --background: #25262b;
            font-size: 18px;
            width: 80%;
            height: 50px;
            --border-radius: 20px;
        }
    }

}

.edit-modal{
    --background: #ffff;
    // --overflow: hidden;

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background:  radial-gradient(circle, rgba(134, 61, 246, 1) 0%, rgba(86, 102, 247, 1) 100%);
    }

    header {
        width: 100%;
        height: 10%;
        
        .navbar{
            width: 100%;
            position: relative;
            text-align: center;
            padding: 16px;
            
            h1 {
                font-size: 28px;
                color: white;
                margin: 0;
            }

            ion-button{
                position: absolute;
                --background: none;
                --box-shadow: none;
                top: 20%;
                left: 0;
            }
        }
    }

    main{
        width: 100%;
        height: 90%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: white;
        padding: 12px;
        position: relative;
        text-align: center;

        ion-item{
            width: 100%;
            margin-bottom: 25px;
            --border-style:none;
            
            ion-label{
                h1{
                    font-weight: bold;
                    font-size: 24px;
                }
            }

            ion-input{
                font-size: 16px;
                margin-top: 10px;
                border: 1.5px solid #25262B;
                border-radius: 15px;
                --padding-top: 15px!important;
                --padding-bottom: 15px!important;
                --padding-start: 10px!important;
                --padding-end: 10px!important;
            }   
        }

        ion-button[type="submit"]{
            width: 90%;
            height: 50px;
            --border-radius: 15px;
            --background: #25262B;
            margin-top: 20px;
        }
    }

    ion-fab{
        ion-fab-button{
            --background: none;
            --box-shadow: none;
        }
    }
}

//IOS 
.ios .edit-modal{
    header{
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main{
        height: 85%;
    }
}

.ios .show-password-page{
    header{
        padding-top: 35px;
        height: 25%;
    }

    main{
        height: 75%;
    }
}



@media screen and (max-width: 376px) and (max-height: 668px) {
    .show-password-page{
        header{
            height: 25%;

            .navbar{
                h1{
                    font-size: 24px;
                }

            }
        }

        main{
            height: 75%;
            padding: 75px 12px;

            .photo{
                width: 75px;
                height: 75px;
                border-radius: 10px;
            }

            ion-list{
                height: 100%;
                overflow: scroll;
            }

            ion-item{
                h3{
                    font-size: 16px;
                }

                p{
                    margin-top: 0;
                    font-size: 10px;
                }

            }
        }

        ion-fab.edit-button {
            ion-button {
                --background: #25262b;
                font-size: 12px;
                width: 60%;
                height: 40px;
                --border-radius: 20px;
            }
        }
    }

    .edit-modal{
        header{
            height: 12%;

            .navbar{
                h1{
                    font-size: 20px;
                }
            }
        }

        main{
            height: 88%;

            ion-item{
                margin-bottom: 14px;

                ion-label{
                    h1{
                        font-size: 14px;
                    }
                }

                ion-input{
                    font-size: 12px;
                    margin-top: 5px;
                    --padding-top: 5px !important;
                    --padding-bottom: 5px !important;
                    --padding-start: 10px !important;
                    --padding-end: 5px !important;
                }
            }

            ion-button[type="submit"] {
                width: 80%;
                height: 35px;
                --border-radius: 15px;
                --background: #25262B;
                margin-top: 20px;
            }
        }
    }
}