.show-password-page{
    display: flex;
    flex-direction: column;
    --background: radial-gradient(circle, rgba(134, 61, 246, 1) 0%, rgba(86, 102, 247, 1) 100%);

    header {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            padding-top: 1em;
            h1 {
                font-size: 2rem;
                color: white;
                margin: 0;
            }
        }
    
    main {
            width: 100%;
            height: 80%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background-color: white;
            padding: 6em 1em 2em;
            position: relative;

            .photo{
                background-color: white;
                width: 120px;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                box-shadow: -2px 10px 29px 0px rgba(0, 0, 0, 0.54);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                img{
                    width: 80%;
                    height: 80%;
                    object-fit: contain;
                }
            }

            ion-item{
                --background: #f4f4f5;
                --border-style: none;
                border-radius: 20px;
                margin-bottom: 1.5em;
                position: relative;

                h3{
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                p{
                    color: var(--ion-color-medium-shade);
                    font-size: 1rem;
                }

                .buttons{
                    position: absolute;
                    top: 5px;
                    right: 5px;

                    ion-button{
                        --box-shadow: none;
                        --border-style: none;
                    }
                }
            }
        }

    ion-fab-button{
        --background: none;
        --box-shadow: none;
    }

    ion-fab.edit-button{
        width: 100%;
        display: flex;
        justify-content: center;

        ion-button{
            --background: #25262b;
            font-size: 1rem;
            width: 80%;
            height: 50px;
            --border-radius: 20px;
            margin-bottom: 2em;
        }
    }
}

    .edit-modal{
        --background: radial-gradient(circle, rgba(134, 61, 246, 1) 0%, rgba(86, 102, 247, 1) 100%);
        header {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            padding-top: 1em;
    
            h1 {
                font-size: 2rem;
                color: white;
                margin: 0;
            }
        }

        main{
            width: 100%;
            height: 90%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background-color: white;
            padding: 1em;
            position: relative;
        }
    }